<div class="container-fluid">
  <div id="home" class="row align-items-center hero">
    <div class="col-lg-3 offset-lg-2">
      <h1>Marian Stroia</h1>
      <p>{{title}}</p>
      <p>The world through my eyes</p>
    </div>
  </div>
</div>

<div class="container text-center portfolio-section" id="portfolio">
  <h2>Portfolio</h2>
  <div class="d-flex align-items-start">
    <div
      class="nav flex-column nav-pills me-3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link active"
        id="v-pills-personal-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-personal"
        type="button"
        role="tab"
        aria-controls="v-pills-personal"
        aria-selected="true"
      >Personal</button>
      <button
        class="nav-link"
        id="v-pills-Work-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-Work"
        type="button"
        role="tab"
        aria-controls="v-pills-Work"
        aria-selected="false"
      >Work</button>
    </div>
    <div class="tab-content" id="v-pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="v-pills-personal"
        role="tabpanel"
        aria-labelledby="v-pills-personal-tab"
        tabindex="0"
      >
        <div class="galeria scrollable">
          <img src="../images/personal.jpg" alt="" />
          <img src="../images/sl1.jpg" alt="" />
          <img src="../images/sl2.jpg" alt="" />
          <img src="../images/sl3.jpg" alt="" />
          <img src="../images/sl4.jpg" alt="" />
          <img src="../images/sl5.jpg" alt="" />
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="v-pills-Work"
        role="tabpanel"
        aria-labelledby="v-pills-Work-tab"
        tabindex="0"
      >
        <div class="galeria scrollable">
          <img src="../images/work.jpg" alt="" />
          <img src="../images/w1.jpg" alt="" />
          <img src="../images/w2.jpg" alt="" />
          <img src="../images/w3.jpg" alt="" />
          <img src="../images/w4.jpg" alt="" />
          <img src="../images/w5.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid my-5 p-0" id="store">
  <div class="store">
    <h2 class="text-center">Store</h2>

    <div
      id="carouselExample"
      class="carousel slide"
      data-bs-ride="carousel"
      data-bs-theme="dark"
    >
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExample"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>Spain 1</h5>
            </div>
            <img
              src="../images/espana1.jpg"
              class="d-block custom-size"
              alt="1"
            />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>Spain 2</h5>
            </div>
            <img
              src="../images/espana2.jpg"
              class="d-block custom-size"
              alt="2"
            />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>Argentine 1</h5>
            </div>
            <img
              src="../images/argentina1.jpg"
              class="d-block custom-size"
              alt="3"
            />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>Argentine 2</h5>
            </div>
            <img
              src="../images/argentina2.jpg"
              class="d-block custom-size"
              alt="4"
            />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>Spain 3</h5>
            </div>
            <img src="../images/esp1.jpg" class="d-block custom-size" alt="4" />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>Slovaquia 1</h5>
            </div>
            <img src="../images/evq1.jpg" class="d-block custom-size" alt="4" />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>New York City 1</h5>
            </div>
            <img src="../images/nyc2.jpg" class="d-block custom-size" alt="4" />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>New York City 2</h5>
            </div>
            <img src="../images/ny2.jpg" class="d-block custom-size" alt="4" />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>Paris 1</h5>
            </div>
            <img
              src="../images/paris1.jpg"
              class="d-block custom-size"
              alt="4"
            />
          </div>
        </div>

        <div class="carousel-item">
          <div class="img-store">
            <div class="carousel-caption d-none d-md-block">
              <h5>Paris 2</h5>
            </div>
            <img
              src="../images/paris2.jpg"
              class="d-block custom-size"
              alt="4"
            />
          </div>
        </div>

      </div>
    </div>

  </div>
</div>

<div class="container text-center prices-section">
  <div id="prices" class="col-md-6 offset-md-3 py-4 scroll-section">

    <h2>Prices</h2>

    <div class="row">
      <div class="col">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Size</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>

            {{#each photos}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.dimension}}</td>
                <td>{{this.price}}</td>
              </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid" id="about">
  <div class="row">
    <div class="col">
      <h2>About me</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="../images/S1-1.JPG" alt="yo" class="img-fluid" />
    </div>
    <div class="col-lg-8 ps-5">
      <p>
        I have developed in the world of photography for years, not only in
        practice but also in constant improvement through courses and workshops.
        Globetrotter, outgoing, committed and enthusiastic. My works speak for
        me. They show my way of seeing the world and my passion for what I do.
        Music, nature, friends, with a little nostalgia and the excitement of
        the moment. It´s life through my eyes and my camera.
      </p>
    </div>
  </div>

</div>

<div class="container-fluid">
  <div id="contact" class="row">
    <h2>Contact</h2>
    <div class="col-md-4">
      {{!<h2>Location</h2>}}
      <div class="mapa">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6075.269495067315!2d-3.709148356758532!3d40.4169416041457!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42287e1463b6cf%3A0x14a34120b9332d61!2sSol%2C%20Centro%2C%20Madrid!5e0!3m2!1ses!2ses!4v1716663435038!5m2!1ses!2ses"
        >
        </iframe>"
      </div>
    </div>

    <div class="col-md-4">
      <form class="row g-4" action="/" method="post">
        <div class="col-md-6">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Enter your name"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="phone">Phone</label>
          <input
            type="phone"
            class="form-control"
            name="phone"
            placeholder="Enter your phone"
            required
          />
        </div>
        <div class="col-12">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter your email"
            required
          />
        </div>
        <div class="col-12">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            name="message"
            rows="5"
            placeholder="Enter your message"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn">Submit</button>
      </form>
      <p>{{message}}</p>
    </div>
  </div>

</div>